#abilities {
   background-color: $white-color;
   color: $dark-blue-text;
   margin-top: -10rem;
   padding-top: 15rem;
 
   @include respond(tab-land) {
     margin-top: 0;
     padding-top: 5rem;
   }
 
   .ability-wrapper {
     margin-bottom: 15rem;
 
     @include respond(phone) {
       margin-bottom: 0rem;
     }
     &__text {
       text-align: left;
       
       &-title {
         font-weight: bold;
         margin-bottom: 1.8rem;
       }
 
       & p > a {
         color: $secondary-color;
       }
     }

   }
 }
 